@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./img/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;

  .box-header {
    margin-top: 30px;
    width: 80%;
    height: 10vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);

    nav {
      width: 40%;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 2rem;

      a {
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 1.3rem;
      }
    }
  }
}

.box-banner {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;

  .box-titulo {
    height: 60vh;
    font-family: "Inter", sans-serif;

    h2 {
      font-size: 2.7rem;
      background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-weight: bold;
    }

    p {
      font-size: 1.625rem;
      width: 60%;
      margin-top: 1rem;
      margin-bottom: 2.5rem;
    }

    div {
      display: flex;
      gap: 1.5rem;
      font-weight: 500;
    }

    .btn-azul {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16rem;
      color: white;
      background-color: #1173d4;
      height: 3rem;
      border-radius: 10px;
    }

    .btn-branco {
      border: 1px solid #1173d4;
      color: #1173d4;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15rem;
      height: 3rem;
      border-radius: 10px;
    }
  }
}

.section-rotina {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
  padding: 80px;
  margin-bottom: 45px;

  .titulos {
    font-size: 2.9rem;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  p {
    font-size: 24px;
    text-align: center;
  }
}

.articles {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;

  .exames {
    width: 282px;
    box-shadow: 0px 0px 3px 3px #00000025;
    border-radius: 10px;
    margin-top: 2.25rem;
    align-items: center;
    height: 250px;
    text-align: center;
    padding: 1rem;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.articles {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 40px;

  .exames {
    width: 282px;
    box-shadow: 0px 0px 3px 3px #00000025;
    border-radius: 10px;
    margin-top: 2.25rem;
    align-items: center;
    height: 250px;
    text-align: center;
    padding: 1rem;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.section-feminina {
  background-color: #fdefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;

  .titulo-rosa {
    font-size: 2.9rem;
    background: linear-gradient(to right, #f9016f 0%, #930885 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
  }

  h3 {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  .exames-fem {
    background-color: #fefefe;
    box-shadow: 0px 5px 4px #00000025;
    width: 16.6rem;
    height: 25rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.8rem;
    font-family: "Roboto", sans-serif;
  }

  .articles {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.5rem;

    ul {
      width: 100%;
      padding-left: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        font-size: 14px;
      }
    }
  }
}

.cards-menores {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 800px;
  justify-content: center;
  padding: 30px;

  .cards-fem1,
  .cards-fem2 {
    display: flex;
    max-width: 900px;
    gap: 25px;
  }
}

.section-masc {
  background-color: #f8f9fa;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;

  .cards-masc1,
  .cards-masc2 {
    display: flex;
    max-width: 900px;
    gap: 25px;
  }

  .titulo-azul {
    font-size: 2.9rem;
    background: linear-gradient(to right, #3373d2 0%, #6f95c7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
  }

  h3 {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
}

.exames-masc {
  background-color: #fefefe;
  box-shadow: 0px 5px 4px #00000025;
  width: 16.6rem;
  height: 25rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8rem;
  font-family: "Roboto", sans-serif;
}

.titulo-alerta {
  font-size: 2.9rem;
  background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bold;
  margin-top: 2rem;
}

.titulo-icon {
  display: flex;
  gap: 10px;
}

.article-alertas {
  width: 26rem;
  height: 10.8rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 10px;

  p {
    font-size: 18px;
  }
}

.alertas1,
.alertas2 {
  margin-top: 2rem;
  display: flex;
  gap: 25px;

  h3 {
    font-size: 25px;
    font-weight: 700;
  }
}

.card-vinho {
  background-color: #f9d5e5;
  color: #ad346a;
}
.card-azulclaro {
  background-color: #cfe2f3;
  color: #2769a3;
}
.card-verde {
  background-color: #d4edda;
  color: #244a2d;
}
.card-amarelo {
  background-color: #ffe9c2;
  color: #976c00;
}

footer {
  background-color: #313461;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 4rem 0 2rem;

  a {
    text-decoration: none;
    color: #fff;
  }

  .rodape {
    padding: 10px 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    margin-bottom: 2rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      li {
        list-style: none;
      }
    }
  }

  h3 {
    margin-bottom: 1.5rem;
  }

  .logo {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 10px;

    img {
      width: 15rem;
    }
  }
}

.contato {
  gap: 1rem;

  p {
    width: 100%;
  }
}

.direitos {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  header {
    height: auto;
    background-size: cover;

    .box-header {
      width: 95%;
      margin-bottom: 2.5rem;
      padding: 10px;
      flex-direction: column;
      gap: 15px;

      nav {
        width: 100%;
        justify-content: space-around;
      }
    }
  }

  .box-banner {
    flex-direction: column;
    height: auto;
    width: 90%;
    text-align: center;
    justify-content: center;

    .box-titulo {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        font-size: 2.3rem;
      }
    }
  }

  .section-rotina {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  .articles {
    flex-wrap: wrap;
    justify-content: center;
  }

  .exames {
    width: 250px;
  }

  footer .rodape {
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
  }

  footer .logo {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  header {
    padding-bottom: 40px;

    .box-header {
      flex-direction: column;
      padding: 15px;
      gap: 15px;

      nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
      }
    }
  }

  .box-banner {
    width: 95%;
    flex-direction: column;

    .box-titulo {
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 22px;
      }
    }
  }

  .button {
    flex-direction: column;
    align-items: center;

    .btn-azul,
    .btn-branco {
      width: 80%;
    }
  }

  .section-feminina .exames-fem,
  .section-masc .exames-masc {
    width: 80%;
    height: auto;
  }

  .alertas1,
  .alertas2 {
    flex-direction: column;
    align-items: center;
  }

  footer .rodape {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .box-titulo {
    h2 {
      font-size: 1.7rem;
    }
    p {
      font-size: 18px;
    }
  }

  .exames {
    width: 90%;
  }

  .article-alertas {
    width: 90%;
    height: auto;
  }

  .cards-masc1,
  .cards-masc2,
  .cards-fem1,
  .cards-fem2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .logo img {
    width: 10rem;
  }

  .titulo-alerta,
  .titulo-rosa,
  .titulo-azul,
  .titulos {
    font-size: 2rem;
  }
}

.section-rotina {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
  padding: 80px;
  margin-bottom: 45px;

  .titulos {
    font-size: 2.9rem;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  p {
    font-size: 24px;
    text-align: center;
  }
}

.articles {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;

  .exames {
    width: 282px;
    box-shadow: 0px 0px 3px 3px #00000025;
    border-radius: 10px;
    margin-top: 2.25rem;
    align-items: center;
    height: 250px;
    text-align: center;
    padding: 1rem;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .box-banner {
    .button {
      display: flex;
      flex-direction: row;
      width: 80%;
    }
  }
  .section-rotina .titulos {
    font-size: 2.3rem;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  .articles {
    flex-direction: column;
    align-items: center;
    gap: 25px;

    .exames {
      width: 90%;
    }
  }
}
