@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./img/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;
  .box-header {
    margin-top: 30px;
    width: 80%;
    height: 10vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
    nav {
      width: 40%;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      a {
        color: white;
        font-family: "Roboto", sans-serif;
      }
    }
  }
}

.box-banner {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;

  .box-titulo {
    height: 60vh;
    width: 38vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;

    h2 {
      font-size: 2.9rem;
      background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-weight: bold;
    }

    p {
      font-size: 29px;
    }
  }
}

.btn-azul {
  background: #1173d4;
  width: 250px;
  height: 44px;
  border: none;
  color: #fff;
  border-radius: 10px;
}

.btn-branco {
  background: #fff;
  width: 250px;
  height: 44px;
  border: 1px solid #1173d4;
  color: #1173d4;
  border-radius: 10px;
}

.button {
  display: flex;
  gap: 15px;
}

.section-rotina {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 80px;
  height: 536px;

  margin-bottom: 45px;

  .titulos {
    font-size: 2.9rem;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
  }

  p {
    font-size: 24px;
    text-align: center;
    flex-wrap: wrap;
  }
}

.articles {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 40px;

  .exames {
    width: 282px;
    box-shadow: 0px 0px 3px 3px #00000025;
    border-radius: 10px;
    margin-top: 2.25rem;
    align-items: center;
    height: 250px;
    text-align: center;
    padding: 1rem;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.section-feminina {
  background-color: #fdefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;

  height: 40%;

  .titulo-rosa {
    font-size: 2.9rem;
    background: linear-gradient(to right, #f9016f 0%, #930885 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .exames-fem {
    background-color: #fefefe;
    box-shadow: 0px 5px 4px #00000025;
    width: 16.6rem;
    height: 25rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.8rem;
    font-family: "Roboto", sans-serif;
    flex-wrap: wrap;
  }

  .articles {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.5rem;

    ul {
      width: 100%;
      padding-left: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        font-size: 14px;
      }
    }
  }
}

.cards-menores {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 800px;

  justify-content: center;
  padding: 30px;

  .cards-fem1 {
    display: flex;
    max-width: 900px;
    gap: 25px;
  }

  .cards-fem2 {
    display: flex;
    max-width: 900px;
    gap: 25px;
  }
}

.section-masc {
  background-color: #f8f9fa;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .cards-masc1 {
    display: flex;
    max-width: 900px;
    gap: 25px;
  }

  .cards-masc2 {
    display: flex;
    max-width: 900px;
    gap: 25px;
  }

  .titulo-azul {
    font-size: 2.9rem;
    background: linear-gradient(to right, #3373d2 0%, #6f95c7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.exames-masc {
  background-color: #fefefe;
  box-shadow: 0px 5px 4px #00000025;
  width: 16.6rem;
  height: 25rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8rem;
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap;
}

.titulo-alerta {
  font-size: 2.9rem;
  background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  margin-top: 2rem;
}

.titulo-icon {
  display: flex;
  gap: 10px;
}

.article-alertas {
  width: 26rem;
  height: 10.8rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 10px;

  p {
    font-size: 18px;
  }
}

.alertas1,
.alertas2 {
  margin-top: 2rem;
  display: flex;
  gap: 25px;

  h3 {
    font-size: 25px;
    font-weight: 700;
  }
}

.card-vinho {
  background-color: #f9d5e5;
  color: #ad346a;
}

.card-azulclaro {
  background-color: #cfe2f3;
  color: #2769a3;
}

.card-verde {
  background-color: #d4edda;
  color: #244a2d;
}

.card-amarelo {
  background-color: #ffe9c2;
  color: #976c00;
}

footer {
  background-color: #313461;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 4rem 0 2rem 0;


  a {
    text-decoration: none;
    color: #fff;
  }

  .rodape {
    padding: 10px 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
      margin-bottom: 2rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      li {
        list-style: none;
      }
    }
  }

  h3 {
    margin-bottom: 1.5rem;
  }

  .logo {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 10px;

    img {
      width: 15rem;
    }
  }
}

  .contato {
        gap: 1rem;

        p {
            width: 100%;
        }
    }

.direitos {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
